In [1]:
import pandas as pd

In [2]:
LABEL = "./data/covid_labels.csv"

In [3]:
label = pd.read_csv(LABEL)
label

          Id  Predicted
0          0          0
1          1          0
2          2          1
3          3          0
4          4          1
...      ...        ...
17453  17453          1
17454  17454          0
17455  17455          1
17456  17456          0
17457  17457          1

[17458 rows x 2 columns]

In [4]:
covid_df = pd.read_csv("./data/covid_bert_data.csv")
covid_df

,Unnamed: 0,source,replies
0,0,"According to the New York Times, Warner Bros. ...",NaN
1,1,Hurricane Hanna has made landfall in Texas.\n\...,@TexasTribune Guess what the cause of death is...
2,2,Monkeys on the loose in India with stolen coro...,NaN
3,3,NaN,@BelAkinyii When was the last time you washed ...
4,4,"“If Trump felt comfortable having it here, the...",@HeidiNBC These Trump fans have a right to att...
...,...,...,...
17453,17453,I wonder how many lives could’ve been saved if...,@funder Wonder how many lives could have been ...
17454,17454,The @thetimes front page on 17th March. The fi...,@NadineDorries @thetimes Inadequate supplies o...
17455,17455,Trump just completed the racism trifecta in a ...,@DNCWarRoom Fact check: Chinese is not a race....
17456,17456,Here are a few of my photographs from today’s ...,@Jess__Taylor__ @davidallengreen Eck! What are...
17457,17457,‘IT’S GONE’: Bill De Blasio Says NYC Facing $9...,@seanhannity DeBlasio caused NYC's lockdown ch...

In [5]:
covid_df["label"] = label["Predicted"]
covid_df.fillna("None", inplace=True)
covid_df

,Unnamed: 0,source,replies,label
0,0,"According to the New York Times, Warner Bros. ...",None,0
1,1,Hurricane Hanna has made landfall in Texas.\n\...,@TexasTribune Guess what the cause of death is...,0
2,2,Monkeys on the loose in India with stolen coro...,None,1
3,3,None,@BelAkinyii When was the last time you washed ...,0
4,4,"“If Trump felt comfortable having it here, the...",@HeidiNBC These Trump fans have a right to att...,1
...,...,...,...,...
17453,17453,I wonder how many lives could’ve been saved if...,@funder Wonder how many lives could have been ...,1
17454,17454,The @thetimes front page on 17th March. The fi...,@NadineDorries @thetimes Inadequate supplies o...,0
17455,17455,Trump just completed the racism trifecta in a ...,@DNCWarRoom Fact check: Chinese is not a race....,1
17456,17456,Here are a few of my photographs from today’s ...,@Jess__Taylor__ @davidallengreen Eck! What are...,0
17457,17457,‘IT’S GONE’: Bill De Blasio Says NYC Facing $9...,@seanhannity DeBlasio caused NYC's lockdown ch...,1

# Sentiment Analysis

In [1]:
from transformers import pipeline
import torch
sentiment_analysis = pipeline(model="cardiffnlp/twitter-roberta-base-sentiment-latest")

Downloading: 100%|██████████| 995/995 [00:00<00:00, 996kB/s]
Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [7]:
covid_df["Source_Sentiment"] = covid_df["source"].astype(str).apply(sentiment_analysis)

In [8]:
covid_df["Source_Sentiment"]

0        [{'label': 'Neutral', 'score': 0.5901539325714...
1        [{'label': 'Negative', 'score': 0.711997747421...
2        [{'label': 'Negative', 'score': 0.560815274715...
3        [{'label': 'Neutral', 'score': 0.6315737962722...
4        [{'label': 'Neutral', 'score': 0.7095635533332...
                               ...
17453    [{'label': 'Negative', 'score': 0.803073644638...
17454    [{'label': 'Neutral', 'score': 0.7463082671165...
17455    [{'label': 'Negative', 'score': 0.729389071464...
17456    [{'label': 'Neutral', 'score': 0.8799182176589...
17457    [{'label': 'Negative', 'score': 0.515761733055...
Name: Source_Sentiment, Length: 17458, dtype: object

In [9]:
covid_df["Replies_Sentiment"] = covid_df["replies2"].astype(str).apply(sentiment_analysis)

KeyError: 'replies2'

In [ ]:
covid_df.to_csv("covid_sentiment.csv")

In [2]:
def trunc_text(string_of_words, size):
    ## Truncate the text to size of word! blablabla
    list_words = string_of_words.split(" ")
    if len(list_words) > size: list_words = list_words[:size]
    return " ".join(list_words)

In [ ]:
trunc_text("fsda dasf dsafa sdfa sdf", 4)

'fsda dasf dsafa sdfa'

In [ ]:
covid_df["replies2"] = covid_df["replies"].apply(trunc_text, size=50)

## Get Separate Replies

In [3]:
import pandas as pd
import ast
LABEL = "./data/covid_labels.csv"
label = pd.read_csv(LABEL)

In [4]:
covid_full = pd.read_csv("./data/covid_replies_data.csv")
covid_full["label"] = label["Predicted"]
covid_full

,Unnamed: 0,source,reply_text_list,label
0,0,"According to the New York Times, Warner Bros. ...",[],0
1,1,Hurricane Hanna has made landfall in Texas.\n\...,['@TexasTribune Guess what the cause of death ...,0
2,2,Monkeys on the loose in India with stolen coro...,[],1
3,3,NaN,['@BelAkinyii When was the last time you washe...,0
4,4,"“If Trump felt comfortable having it here, the...",['@HeidiNBC These Trump fans have a right to a...,1
...,...,...,...,...
17453,17453,I wonder how many lives could’ve been saved if...,['@funder Wonder how many lives could have bee...,1
17454,17454,The @thetimes front page on 17th March. The fi...,"[""@NadineDorries @thetimes Inadequate supplies...",0
17455,17455,Trump just completed the racism trifecta in a ...,['@DNCWarRoom Fact check: Chinese is not a rac...,1
17456,17456,Here are a few of my photographs from today’s ...,['@Jess__Taylor__ @davidallengreen Eck! What a...,0
17457,17457,‘IT’S GONE’: Bill De Blasio Says NYC Facing $9...,"[""@seanhannity DeBlasio caused NYC's lockdown ...",1

In [34]:
def sentiment_on_list(list_of_str):
    out = []
    
    list_of_str = [trunc_text(string, 50) for string in ast.literal_eval(list_of_str)]
    sentiment_list = sentiment_analysis(list_of_str)
    sentiment_list = [s["label"] for s in sentiment_list]
    return sentiment_list
    #return list_of_str

In [35]:
covid_full = covid_full.iloc[:5,:]

In [33]:
covid_full["reply_sentiment_list"][4]

[{'label': 'Negative', 'score': 0.7964755296707153},
 {'label': 'Negative', 'score': 0.9379986524581909},
 {'label': 'Negative', 'score': 0.5654512643814087},
 {'label': 'Negative', 'score': 0.6684348583221436},
 {'label': 'Negative', 'score': 0.9275805354118347},
 {'label': 'Negative', 'score': 0.8779738545417786},
 {'label': 'Negative', 'score': 0.6902571320533752},
 {'label': 'Negative', 'score': 0.8661876320838928},
 {'label': 'Negative', 'score': 0.8318676352500916},
 {'label': 'Negative', 'score': 0.7193796038627625},
 {'label': 'Positive', 'score': 0.6191065907478333},
 {'label': 'Positive', 'score': 0.8785029649734497},
 {'label': 'Negative', 'score': 0.8842478394508362},
 {'label': 'Negative', 'score': 0.7555397748947144},
 {'label': 'Neutral', 'score': 0.7305596470832825},
 {'label': 'Negative', 'score': 0.5709588527679443},
 {'label': 'Negative', 'score': 0.9320733547210693},
 {'label': 'Negative', 'score': 0.8928827047348022},
 {'label': 'Negative', 'score': 0.7595454454421997},
 {'label': 'Negative', 'score': 0.898292064666748},
 {'label': 'Negative', 'score': 0.6376328468322754},
 {'label': 'Negative', 'score': 0.5984549522399902}]

In [36]:
covid_full["reply_sentiment_list"] = covid_full["reply_text_list"].apply(sentiment_on_list)
covid_full

,Unnamed: 0,source,reply_text_list,label,reply_sentiment_list
0,0,"According to the New York Times, Warner Bros. ...",[],0,[]
1,1,Hurricane Hanna has made landfall in Texas.\n\...,['@TexasTribune Guess what the cause of death ...,0,[Negative]
2,2,Monkeys on the loose in India with stolen coro...,[],1,[]
3,3,NaN,['@BelAkinyii When was the last time you washe...,0,"[Negative, Negative, Neutral]"
4,4,"“If Trump felt comfortable having it here, the...",['@HeidiNBC These Trump fans have a right to a...,1,"[Negative, Negative, Negative, Negative, Negat..."

In [ ]:
covid_full.to_csv("covid_replies_sentiment_list.csv")

# Sentiment Analysis Analysis Part

In [40]:
combined_reply_df = pd.read_csv("covid_sentiment.csv")
combined_reply_df = combined_reply_df[["label", "Source_Sentiment", "Replies_Sentiment"]]
combined_reply_df

       label Source_Sentiment Replies_Sentiment
0          0          Neutral           Neutral
1          0         Negative          Negative
2          1         Negative           Neutral
3          0          Neutral          Negative
4          1          Neutral          Negative
...      ...              ...               ...
17453      1         Negative          Negative
17454      0          Neutral          Negative
17455      1         Negative           Neutral
17456      0          Neutral          Negative
17457      1         Negative          Negative

[17458 rows x 3 columns]

In [41]:
## Convert sentiment to :
# -1 negative
# 0 neutral
# 1 natural
combined_reply_df.loc[combined_reply_df["Source_Sentiment"]=="Neutral", "Source_Sentiment"] = 0
combined_reply_df.loc[combined_reply_df["Source_Sentiment"]=="Positive", "Source_Sentiment"] = 1
combined_reply_df.loc[combined_reply_df["Source_Sentiment"]=="Negative", "Source_Sentiment"] = -1